[Desktop Entry]
Name=GrooveOff
GenericName=Grooveshark Client
GenericName[it]=Client per Grooveshark
Comment=Offline Grooveshark.com music
Comment[it]=Salva la musica di Grooveshark.com
Exec=grooveoff
Terminal=false
Type=Application
Icon=grooveoff
Categories=AudioVideo;Audio;Network;
StartupNotify=true
